.nav-tabs {
	border-bottom: 0px;
}

h6{
	font-size: 14px;
}

hr{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border: 0;
	border-top: 1px solid #eee;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.image-size{
	height: 200px; width: 100%; overflow: hidden;
}

.glyphicon-star{
	font-size: 14px;
}

.glyphicon-star-empty{
	font-size: 16px;
}

.social-icons{
	width:25px; /* you can use % */
    height: 25px;
}

.navbar-default{
	background-color:#245832;
}

.mainlogo{
	margin-top: 30px;
	top: 50px;
	height: 150px;
}

.nav-tabs > li > a{

	background-color: #c4cdc1;
}


